@import '~/styles/utils';

.legend {
    padding: 1em 1em 0 1em;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    &:after {
        content: '';
        position: absolute;
        display: block;
        bottom: 100%;
        left: 0;
        height: 2em;
        width: 100%;
        background: linear-gradient( to bottom, var( --background-transparent ) 0, var( --background ) 100% );
        z-index: 200;
        @include medium {
            display: none;
        }
    }
    @include medium {
        position: fixed;
        bottom: auto;
        left: 0;
        top: 50%;
        background: none;
        transform: translateY( -50% );
        flex-direction: column;
        padding: 2em;
        width: auto;
        z-index: 500;
    }
    &__item {
        color: transparent;
        display: flex;
        cursor: pointer;
        align-items: center;
        padding-right: 1em;
        padding-bottom: 1em;
        white-space: nowrap;
        @include medium {
            padding-bottom: .25em;
            padding-top: .25em;
        }
        &:before {
            content: '';
            width: 1.5em;
            height: 1.5em;
            border: 1px solid var( --color );
            border-radius: 50%;
            margin-right: .5em;
            @include medium {
                margin-right: .75em;
                width: 1.5em;
                height: 1.5em;
            }
        }
        &--selected {
            color: black;
        }
    }
}