{
    "plugins": [ "styled-jsx/babel" ],
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 1 Chrome version"]
            }
        }],
        "stage-2"
    ]
}