.c1{width:8.33333%}
.c2{width:16.66667%}
.c3{width:25%}
.c4{width:33.33333%}
.c5{width:41.66667%}
.c6{width:50%}
.c7{width:58.33333%}
.c8{width:66.66667%}
.c9{width:75%}
.c10{width:83.33333%}
.c11{width:91.66667%}
.c12{width:100%}
.s1{width:100%}
.s2{width:50%}
.s3{width:33.33333%}
.s4{width:25%}
.s5{width:20%}
.s6{width:16.66667%}
.s7{width:14.28571%}
.s8{width:12.5%}
.s9{width:11.11111%}
.s10{width:10%}
.s11{width:9.09091%}
.s12{width:8.33333%}
.co0{margin-left:0}
.co1{margin-left:8.33333%}
.co2{margin-left:16.66667%}
.co3{margin-left:25%}
.co4{margin-left:33.33333%}
.co5{margin-left:41.66667%}
.co6{margin-left:50%}
.co7{margin-left:58.33333%}
.co8{margin-left:66.66667%}
.co9{margin-left:75%}
.co10{margin-left:83.33333%}
.co11{margin-left:91.66667%}
.co12{margin-left:100%}
.op0{opacity:0}
.op25{opacity:0.25}
.op50{opacity:0.5}
.op75{opacity:0.75}
.op100{opacity:1}
.bgsc{background-size:cover}
.bgsct{background-size:contain}
.bgpc{background-position:center}
.bgpt{background-position:top}
.bgpr{background-position:right}
.bgpb{background-position:bottom}
.bgpl{background-position:left}
.bgrn{background-repeat:no-repeat}
.bgrx{background-repeat:repeat-x}
.bgry{background-repeat:repeat-y}
.x{display:flex}
.xac{align-items:center}
.xab{align-items:baseline}
.xas{align-items:stretch}
.xafs{align-items:flex-start}
.xafe{align-items:flex-end}
.xdr{flex-direction:row}
.xdrr{flex-direction:row-reverse}
.xdc{flex-direction:column}
.xdcr{flex-direction:column-reverse}
.xjc{justify-content:center}
.xjb{justify-content:space-between}
.xja{justify-content:space-around}
.xjs{justify-content:flex-start}
.xje{justify-content:flex-end}
.xw{flex-wrap:wrap}
.xwr{flex-wrap:wrap-reverse}
.xwn{flex-wrap:nowrap}
.xi{flex:initial}
.xx{flex:1}
.xa{flex:auto}
.xn{flex:none}
.xo0{order:0}
.xo1{order:1}
.xo2{order:2}
.xo3{order:3}
.xo4{order:4}
.xot{order:-1}
.xob{order:99}
.df{display:flex}
.db{display:block}
.dib{display:inline-block}
.di{display:inline}
.dt{display:table}
.dtc{display:table-cell}
.dtr{display:table-row}
.dn{display:none}
.fl{float:left}
.fr{float:right}
.fn{float:none}
.cf:after{content:"";display:block;clear:both}
.oh{overflow:hidden}
.os{overflow:scroll}
.ov{overflow:visible}
.oxh{overflow-x:hidden}
.oxs{overflow-x:scroll}
.oxv{overflow-x:visible}
.oyh{overflow-y:hidden}
.oys{overflow-y:scroll}
.oyv{overflow-y:visible}
.psa{position:absolute}
.psr{position:relative}
.psf{position:fixed}
.pss{position:static}
.t0{top:0}
.r0{right:0}
.b0{bottom:0}
.l0{left:0}
.z0{z-index:0}
.z1{z-index:1}
.z2{z-index:2}
.z3{z-index:3}
.z4{z-index:4}
.w0{width:0}
.w100{width:100%}
.h0{height:0}
.h100{height:100%}
.vw50{width:50vw}
.vw100{width:100vw}
.vwmn50{min-width:50vw}
.vwmn100{min-width:100vw}
.vwmx50{max-width:50vw}
.vwmx100{max-width:100vw}
.vh50{height:50vh}
.vh100{height:100vh}
.vhmn50{min-height:50vh}
.vhmn100{min-height:100vh}
.vhmx50{max-height:50vh}
.vhmx100{max-height:100vh}
.ar25:before{padding-top:25%;content:"";display:block}
.ar50:before{padding-top:50%;content:"";display:block}
.ar75:before{padding-top:75%;content:"";display:block}
.ar100:before{padding-top:100%;content:"";display:block}
.fs1{font-size:1rem}
.fs1-2{font-size:1.2rem}
.fs1-6{font-size:1.6rem}
.fs2-4{font-size:2.4rem}
.fs3-2{font-size:3.2rem}
.fs6-4{font-size:6.4rem}
.lh1{line-height:1}
.lh1-5{line-height:1.5}
.fsn{font-style:normal}
.fsi{font-style:italic}
.fwn{font-weight:normal}
.fwb{font-weight:bold}
.tal{text-align:left}
.tac{text-align:center}
.tar{text-align:right}
.taj{text-align:justify}
.toi{text-overflow:initial}
.toc{text-overflow:clip}
.toe{text-overflow:ellipsis}
.tdu{text-decoration:underline}
.tdo{text-decoration:overline}
.tdlt{text-decoration:line-through}
.tdn{text-decoration:none}
.ttu{text-transform:uppercase}
.ttl{text-transform:lowercase}
.ttc{text-transform:capitalize}
.ttn{text-transform:none}
.vabl{vertical-align:baseline}
.vat{vertical-align:top}
.vam{vertical-align:middle}
.vab{vertical-align:bottom}
.wsn{white-space:normal}
.wsnw{white-space:nowrap}
.wsp{white-space:pre}
.wsi{white-space:inherit}
.tc1{columns:1}
.tc2{columns:2}
.tc3{columns:3}
.tc4{columns:4}
.curp{cursor:pointer}
.curd{cursor:default}
.cura{cursor:alias}
.curzi{cursor:zoom-in}
.curzo{cursor:zoom-out}
.usn{user-select:none}
.usa{user-select:auto}
.ust{user-select:text}
.pen{pointer-events:none}
.pea{pointer-events:auto}
.vh{visibility:hidden}
.vv{visibility:visible}
.dev{outline:1px solid #912eff}
.dev > * {outline:1px solid #5497ff}
.dev > * > * {outline:1px solid #51feff}
.dev > * > * > * {outline:1px solid #ff0000}
.dev > * > * > * * {outline:1px solid #00ff00}.m0{margin:calc( 0 * var( --line ) )}
.m0-5{margin:calc( 0.5 * var( --line ) )}
.m1{margin:calc( 1 * var( --line ) )}
.m2{margin:calc( 2 * var( --line ) )}
.m3{margin:calc( 3 * var( --line ) )}
.m4{margin:calc( 4 * var( --line ) )}
.mt0{margin-top:calc( 0 * var( --line ) )}
.mt0-5{margin-top:calc( 0.5 * var( --line ) )}
.mt1{margin-top:calc( 1 * var( --line ) )}
.mt2{margin-top:calc( 2 * var( --line ) )}
.mt3{margin-top:calc( 3 * var( --line ) )}
.mt4{margin-top:calc( 4 * var( --line ) )}
.mb0{margin-bottom:calc( 0 * var( --line ) )}
.mb0-5{margin-bottom:calc( 0.5 * var( --line ) )}
.mb1{margin-bottom:calc( 1 * var( --line ) )}
.mb2{margin-bottom:calc( 2 * var( --line ) )}
.mb3{margin-bottom:calc( 3 * var( --line ) )}
.mb4{margin-bottom:calc( 4 * var( --line ) )}
.ml0{margin-left:calc( 0 * var( --line ) )}
.ml0-5{margin-left:calc( 0.5 * var( --line ) )}
.ml1{margin-left:calc( 1 * var( --line ) )}
.ml2{margin-left:calc( 2 * var( --line ) )}
.ml3{margin-left:calc( 3 * var( --line ) )}
.ml4{margin-left:calc( 4 * var( --line ) )}
.mr0{margin-right:calc( 0 * var( --line ) )}
.mr0-5{margin-right:calc( 0.5 * var( --line ) )}
.mr1{margin-right:calc( 1 * var( --line ) )}
.mr2{margin-right:calc( 2 * var( --line ) )}
.mr3{margin-right:calc( 3 * var( --line ) )}
.mr4{margin-right:calc( 4 * var( --line ) )}
.mx0{margin-left:calc( 0 * var( --line ) );margin-right:calc( 0 * var( --line ) )}
.mx0-5{margin-left:calc( 0.5 * var( --line ) );margin-right:calc( 0.5 * var( --line ) )}
.mx1{margin-left:calc( 1 * var( --line ) );margin-right:calc( 1 * var( --line ) )}
.mx2{margin-left:calc( 2 * var( --line ) );margin-right:calc( 2 * var( --line ) )}
.mx3{margin-left:calc( 3 * var( --line ) );margin-right:calc( 3 * var( --line ) )}
.mx4{margin-left:calc( 4 * var( --line ) );margin-right:calc( 4 * var( --line ) )}
.my0{margin-top:calc( 0 * var( --line ) );margin-bottom:calc( 0 * var( --line ) )}
.my0-5{margin-top:calc( 0.5 * var( --line ) );margin-bottom:calc( 0.5 * var( --line ) )}
.my1{margin-top:calc( 1 * var( --line ) );margin-bottom:calc( 1 * var( --line ) )}
.my2{margin-top:calc( 2 * var( --line ) );margin-bottom:calc( 2 * var( --line ) )}
.my3{margin-top:calc( 3 * var( --line ) );margin-bottom:calc( 3 * var( --line ) )}
.my4{margin-top:calc( 4 * var( --line ) );margin-bottom:calc( 4 * var( --line ) )}
.p0{padding:calc( 0 * var( --line ) )}
.p0-5{padding:calc( 0.5 * var( --line ) )}
.p1{padding:calc( 1 * var( --line ) )}
.p2{padding:calc( 2 * var( --line ) )}
.p3{padding:calc( 3 * var( --line ) )}
.p4{padding:calc( 4 * var( --line ) )}
.pt0{padding-top:calc( 0 * var( --line ) )}
.pt0-5{padding-top:calc( 0.5 * var( --line ) )}
.pt1{padding-top:calc( 1 * var( --line ) )}
.pt2{padding-top:calc( 2 * var( --line ) )}
.pt3{padding-top:calc( 3 * var( --line ) )}
.pt4{padding-top:calc( 4 * var( --line ) )}
.pb0{padding-bottom:calc( 0 * var( --line ) )}
.pb0-5{padding-bottom:calc( 0.5 * var( --line ) )}
.pb1{padding-bottom:calc( 1 * var( --line ) )}
.pb2{padding-bottom:calc( 2 * var( --line ) )}
.pb3{padding-bottom:calc( 3 * var( --line ) )}
.pb4{padding-bottom:calc( 4 * var( --line ) )}
.pl0{padding-left:calc( 0 * var( --line ) )}
.pl0-5{padding-left:calc( 0.5 * var( --line ) )}
.pl1{padding-left:calc( 1 * var( --line ) )}
.pl2{padding-left:calc( 2 * var( --line ) )}
.pl3{padding-left:calc( 3 * var( --line ) )}
.pl4{padding-left:calc( 4 * var( --line ) )}
.pr0{padding-right:calc( 0 * var( --line ) )}
.pr0-5{padding-right:calc( 0.5 * var( --line ) )}
.pr1{padding-right:calc( 1 * var( --line ) )}
.pr2{padding-right:calc( 2 * var( --line ) )}
.pr3{padding-right:calc( 3 * var( --line ) )}
.pr4{padding-right:calc( 4 * var( --line ) )}
.px0{padding-left:calc( 0 * var( --line ) );padding-right:calc( 0 * var( --line ) )}
.px0-5{padding-left:calc( 0.5 * var( --line ) );padding-right:calc( 0.5 * var( --line ) )}
.px1{padding-left:calc( 1 * var( --line ) );padding-right:calc( 1 * var( --line ) )}
.px2{padding-left:calc( 2 * var( --line ) );padding-right:calc( 2 * var( --line ) )}
.px3{padding-left:calc( 3 * var( --line ) );padding-right:calc( 3 * var( --line ) )}
.px4{padding-left:calc( 4 * var( --line ) );padding-right:calc( 4 * var( --line ) )}
.py0{padding-top:calc( 0 * var( --line ) );padding-bottom:calc( 0 * var( --line ) )}
.py0-5{padding-top:calc( 0.5 * var( --line ) );padding-bottom:calc( 0.5 * var( --line ) )}
.py1{padding-top:calc( 1 * var( --line ) );padding-bottom:calc( 1 * var( --line ) )}
.py2{padding-top:calc( 2 * var( --line ) );padding-bottom:calc( 2 * var( --line ) )}
.py3{padding-top:calc( 3 * var( --line ) );padding-bottom:calc( 3 * var( --line ) )}
.py4{padding-top:calc( 4 * var( --line ) );padding-bottom:calc( 4 * var( --line ) )}
.br50{border-radius:50%}
.brmax{border-radius:100vw}
.t0{top:0}
.t50{top:50%}
.t100{top:100%}
.l0{left:0}
.l50{left:50%}
.l100{left:100%}
.b0{bottom:0}
.b50{bottom:50%}
.b100{bottom:100%}
.r0{right:0}
.r50{right:50%}
.r100{right:100%}
.ofcv{object-fit:cover}
.ofcn{object-fit:contain}
.tx-100{transform:translateX( -100% )}
.tx-50{transform:translateX( -50% )}
.tx0{transform:translateX( 0% )}
.tx50{transform:translateX( 50% )}
.tx100{transform:translateX( 100% )}
.ty-100{transform:translateY( -100% )}
.ty-50{transform:translateY( -50% )}
.ty0{transform:translateY( 0% )}
.ty50{transform:translateY( 50% )}
.ty100{transform:translateY( 100% )}
.txy-100{transform:translate( -100%, -100% )}
.txy-50{transform:translate( -50%, -50% )}
.txy0{transform:translate( 0%, 0% )}
.txy50{transform:translate( 50%, 50% )}
.txy100{transform:translate( 100%, 100% )}
.fill{position: absolute; top: 0; left: 0; width: 100%; height: 100%}
@media ( --medium ) {
.m-c1{width:8.33333%}
.m-c2{width:16.66667%}
.m-c3{width:25%}
.m-c4{width:33.33333%}
.m-c5{width:41.66667%}
.m-c6{width:50%}
.m-c7{width:58.33333%}
.m-c8{width:66.66667%}
.m-c9{width:75%}
.m-c10{width:83.33333%}
.m-c11{width:91.66667%}
.m-c12{width:100%}
.m-s1{width:100%}
.m-s2{width:50%}
.m-s3{width:33.33333%}
.m-s4{width:25%}
.m-s5{width:20%}
.m-s6{width:16.66667%}
.m-s7{width:14.28571%}
.m-s8{width:12.5%}
.m-s9{width:11.11111%}
.m-s10{width:10%}
.m-s11{width:9.09091%}
.m-s12{width:8.33333%}
.m-co0{margin-left:0}
.m-co1{margin-left:8.33333%}
.m-co2{margin-left:16.66667%}
.m-co3{margin-left:25%}
.m-co4{margin-left:33.33333%}
.m-co5{margin-left:41.66667%}
.m-co6{margin-left:50%}
.m-co7{margin-left:58.33333%}
.m-co8{margin-left:66.66667%}
.m-co9{margin-left:75%}
.m-co10{margin-left:83.33333%}
.m-co11{margin-left:91.66667%}
.m-co12{margin-left:100%}
.m-op0{opacity:0}
.m-op25{opacity:0.25}
.m-op50{opacity:0.5}
.m-op75{opacity:0.75}
.m-op100{opacity:1}
.m-bgsc{background-size:cover}
.m-bgsct{background-size:contain}
.m-bgpc{background-position:center}
.m-bgpt{background-position:top}
.m-bgpr{background-position:right}
.m-bgpb{background-position:bottom}
.m-bgpl{background-position:left}
.m-bgrn{background-repeat:no-repeat}
.m-bgrx{background-repeat:repeat-x}
.m-bgry{background-repeat:repeat-y}
.m-x{display:flex}
.m-xac{align-items:center}
.m-xab{align-items:baseline}
.m-xas{align-items:stretch}
.m-xafs{align-items:flex-start}
.m-xafe{align-items:flex-end}
.m-xdr{flex-direction:row}
.m-xdrr{flex-direction:row-reverse}
.m-xdc{flex-direction:column}
.m-xdcr{flex-direction:column-reverse}
.m-xjc{justify-content:center}
.m-xjb{justify-content:space-between}
.m-xja{justify-content:space-around}
.m-xjs{justify-content:flex-start}
.m-xje{justify-content:flex-end}
.m-xw{flex-wrap:wrap}
.m-xwr{flex-wrap:wrap-reverse}
.m-xwn{flex-wrap:nowrap}
.m-xi{flex:initial}
.m-xx{flex:1}
.m-xa{flex:auto}
.m-xn{flex:none}
.m-xo0{order:0}
.m-xo1{order:1}
.m-xo2{order:2}
.m-xo3{order:3}
.m-xo4{order:4}
.m-xot{order:-1}
.m-xob{order:99}
.m-df{display:flex}
.m-db{display:block}
.m-dib{display:inline-block}
.m-di{display:inline}
.m-dt{display:table}
.m-dtc{display:table-cell}
.m-dtr{display:table-row}
.m-dn{display:none}
.m-fl{float:left}
.m-fr{float:right}
.m-fn{float:none}
.m-cf:after{content:"";display:block;clear:both}
.m-oh{overflow:hidden}
.m-os{overflow:scroll}
.m-ov{overflow:visible}
.m-oxh{overflow-x:hidden}
.m-oxs{overflow-x:scroll}
.m-oxv{overflow-x:visible}
.m-oyh{overflow-y:hidden}
.m-oys{overflow-y:scroll}
.m-oyv{overflow-y:visible}
.m-psa{position:absolute}
.m-psr{position:relative}
.m-psf{position:fixed}
.m-pss{position:static}
.m-t0{top:0}
.m-r0{right:0}
.m-b0{bottom:0}
.m-l0{left:0}
.m-z0{z-index:0}
.m-z1{z-index:1}
.m-z2{z-index:2}
.m-z3{z-index:3}
.m-z4{z-index:4}
.m-w0{width:0}
.m-w100{width:100%}
.m-h0{height:0}
.m-h100{height:100%}
.m-vw50{width:50vw}
.m-vw100{width:100vw}
.m-vwmn50{min-width:50vw}
.m-vwmn100{min-width:100vw}
.m-vwmx50{max-width:50vw}
.m-vwmx100{max-width:100vw}
.m-vh50{height:50vh}
.m-vh100{height:100vh}
.m-vhmn50{min-height:50vh}
.m-vhmn100{min-height:100vh}
.m-vhmx50{max-height:50vh}
.m-vhmx100{max-height:100vh}
.m-ar25:before{padding-top:25%;content:"";display:block}
.m-ar50:before{padding-top:50%;content:"";display:block}
.m-ar75:before{padding-top:75%;content:"";display:block}
.m-ar100:before{padding-top:100%;content:"";display:block}
.m-fs1{font-size:1rem}
.m-fs1-2{font-size:1.2rem}
.m-fs1-6{font-size:1.6rem}
.m-fs2-4{font-size:2.4rem}
.m-fs3-2{font-size:3.2rem}
.m-fs6-4{font-size:6.4rem}
.m-lh1{line-height:1}
.m-lh1-5{line-height:1.5}
.m-fsn{font-style:normal}
.m-fsi{font-style:italic}
.m-fwn{font-weight:normal}
.m-fwb{font-weight:bold}
.m-tal{text-align:left}
.m-tac{text-align:center}
.m-tar{text-align:right}
.m-taj{text-align:justify}
.m-toi{text-overflow:initial}
.m-toc{text-overflow:clip}
.m-toe{text-overflow:ellipsis}
.m-tdu{text-decoration:underline}
.m-tdo{text-decoration:overline}
.m-tdlt{text-decoration:line-through}
.m-tdn{text-decoration:none}
.m-ttu{text-transform:uppercase}
.m-ttl{text-transform:lowercase}
.m-ttc{text-transform:capitalize}
.m-ttn{text-transform:none}
.m-vabl{vertical-align:baseline}
.m-vat{vertical-align:top}
.m-vam{vertical-align:middle}
.m-vab{vertical-align:bottom}
.m-wsn{white-space:normal}
.m-wsnw{white-space:nowrap}
.m-wsp{white-space:pre}
.m-wsi{white-space:inherit}
.m-tc1{columns:1}
.m-tc2{columns:2}
.m-tc3{columns:3}
.m-tc4{columns:4}
.m-curp{cursor:pointer}
.m-curd{cursor:default}
.m-cura{cursor:alias}
.m-curzi{cursor:zoom-in}
.m-curzo{cursor:zoom-out}
.m-usn{user-select:none}
.m-usa{user-select:auto}
.m-ust{user-select:text}
.m-pen{pointer-events:none}
.m-pea{pointer-events:auto}
.m-vh{visibility:hidden}
.m-vv{visibility:visible}
.m-dev{outline:1px solid #912eff}
.m-dev > * {outline:1px solid #5497ff}
.m-dev > * > * {outline:1px solid #51feff}
.m-dev > * > * > * {outline:1px solid #ff0000}
.m-dev > * > * > * * {outline:1px solid #00ff00}.m-m0{margin:calc( 0 * var( --line ) )}
.m-m0-5{margin:calc( 0.5 * var( --line ) )}
.m-m1{margin:calc( 1 * var( --line ) )}
.m-m2{margin:calc( 2 * var( --line ) )}
.m-m3{margin:calc( 3 * var( --line ) )}
.m-m4{margin:calc( 4 * var( --line ) )}
.m-mt0{margin-top:calc( 0 * var( --line ) )}
.m-mt0-5{margin-top:calc( 0.5 * var( --line ) )}
.m-mt1{margin-top:calc( 1 * var( --line ) )}
.m-mt2{margin-top:calc( 2 * var( --line ) )}
.m-mt3{margin-top:calc( 3 * var( --line ) )}
.m-mt4{margin-top:calc( 4 * var( --line ) )}
.m-mb0{margin-bottom:calc( 0 * var( --line ) )}
.m-mb0-5{margin-bottom:calc( 0.5 * var( --line ) )}
.m-mb1{margin-bottom:calc( 1 * var( --line ) )}
.m-mb2{margin-bottom:calc( 2 * var( --line ) )}
.m-mb3{margin-bottom:calc( 3 * var( --line ) )}
.m-mb4{margin-bottom:calc( 4 * var( --line ) )}
.m-ml0{margin-left:calc( 0 * var( --line ) )}
.m-ml0-5{margin-left:calc( 0.5 * var( --line ) )}
.m-ml1{margin-left:calc( 1 * var( --line ) )}
.m-ml2{margin-left:calc( 2 * var( --line ) )}
.m-ml3{margin-left:calc( 3 * var( --line ) )}
.m-ml4{margin-left:calc( 4 * var( --line ) )}
.m-mr0{margin-right:calc( 0 * var( --line ) )}
.m-mr0-5{margin-right:calc( 0.5 * var( --line ) )}
.m-mr1{margin-right:calc( 1 * var( --line ) )}
.m-mr2{margin-right:calc( 2 * var( --line ) )}
.m-mr3{margin-right:calc( 3 * var( --line ) )}
.m-mr4{margin-right:calc( 4 * var( --line ) )}
.m-mx0{margin-left:calc( 0 * var( --line ) );margin-right:calc( 0 * var( --line ) )}
.m-mx0-5{margin-left:calc( 0.5 * var( --line ) );margin-right:calc( 0.5 * var( --line ) )}
.m-mx1{margin-left:calc( 1 * var( --line ) );margin-right:calc( 1 * var( --line ) )}
.m-mx2{margin-left:calc( 2 * var( --line ) );margin-right:calc( 2 * var( --line ) )}
.m-mx3{margin-left:calc( 3 * var( --line ) );margin-right:calc( 3 * var( --line ) )}
.m-mx4{margin-left:calc( 4 * var( --line ) );margin-right:calc( 4 * var( --line ) )}
.m-my0{margin-top:calc( 0 * var( --line ) );margin-bottom:calc( 0 * var( --line ) )}
.m-my0-5{margin-top:calc( 0.5 * var( --line ) );margin-bottom:calc( 0.5 * var( --line ) )}
.m-my1{margin-top:calc( 1 * var( --line ) );margin-bottom:calc( 1 * var( --line ) )}
.m-my2{margin-top:calc( 2 * var( --line ) );margin-bottom:calc( 2 * var( --line ) )}
.m-my3{margin-top:calc( 3 * var( --line ) );margin-bottom:calc( 3 * var( --line ) )}
.m-my4{margin-top:calc( 4 * var( --line ) );margin-bottom:calc( 4 * var( --line ) )}
.m-p0{padding:calc( 0 * var( --line ) )}
.m-p0-5{padding:calc( 0.5 * var( --line ) )}
.m-p1{padding:calc( 1 * var( --line ) )}
.m-p2{padding:calc( 2 * var( --line ) )}
.m-p3{padding:calc( 3 * var( --line ) )}
.m-p4{padding:calc( 4 * var( --line ) )}
.m-pt0{padding-top:calc( 0 * var( --line ) )}
.m-pt0-5{padding-top:calc( 0.5 * var( --line ) )}
.m-pt1{padding-top:calc( 1 * var( --line ) )}
.m-pt2{padding-top:calc( 2 * var( --line ) )}
.m-pt3{padding-top:calc( 3 * var( --line ) )}
.m-pt4{padding-top:calc( 4 * var( --line ) )}
.m-pb0{padding-bottom:calc( 0 * var( --line ) )}
.m-pb0-5{padding-bottom:calc( 0.5 * var( --line ) )}
.m-pb1{padding-bottom:calc( 1 * var( --line ) )}
.m-pb2{padding-bottom:calc( 2 * var( --line ) )}
.m-pb3{padding-bottom:calc( 3 * var( --line ) )}
.m-pb4{padding-bottom:calc( 4 * var( --line ) )}
.m-pl0{padding-left:calc( 0 * var( --line ) )}
.m-pl0-5{padding-left:calc( 0.5 * var( --line ) )}
.m-pl1{padding-left:calc( 1 * var( --line ) )}
.m-pl2{padding-left:calc( 2 * var( --line ) )}
.m-pl3{padding-left:calc( 3 * var( --line ) )}
.m-pl4{padding-left:calc( 4 * var( --line ) )}
.m-pr0{padding-right:calc( 0 * var( --line ) )}
.m-pr0-5{padding-right:calc( 0.5 * var( --line ) )}
.m-pr1{padding-right:calc( 1 * var( --line ) )}
.m-pr2{padding-right:calc( 2 * var( --line ) )}
.m-pr3{padding-right:calc( 3 * var( --line ) )}
.m-pr4{padding-right:calc( 4 * var( --line ) )}
.m-px0{padding-left:calc( 0 * var( --line ) );padding-right:calc( 0 * var( --line ) )}
.m-px0-5{padding-left:calc( 0.5 * var( --line ) );padding-right:calc( 0.5 * var( --line ) )}
.m-px1{padding-left:calc( 1 * var( --line ) );padding-right:calc( 1 * var( --line ) )}
.m-px2{padding-left:calc( 2 * var( --line ) );padding-right:calc( 2 * var( --line ) )}
.m-px3{padding-left:calc( 3 * var( --line ) );padding-right:calc( 3 * var( --line ) )}
.m-px4{padding-left:calc( 4 * var( --line ) );padding-right:calc( 4 * var( --line ) )}
.m-py0{padding-top:calc( 0 * var( --line ) );padding-bottom:calc( 0 * var( --line ) )}
.m-py0-5{padding-top:calc( 0.5 * var( --line ) );padding-bottom:calc( 0.5 * var( --line ) )}
.m-py1{padding-top:calc( 1 * var( --line ) );padding-bottom:calc( 1 * var( --line ) )}
.m-py2{padding-top:calc( 2 * var( --line ) );padding-bottom:calc( 2 * var( --line ) )}
.m-py3{padding-top:calc( 3 * var( --line ) );padding-bottom:calc( 3 * var( --line ) )}
.m-py4{padding-top:calc( 4 * var( --line ) );padding-bottom:calc( 4 * var( --line ) )}
.m-br50{border-radius:50%}
.m-brmax{border-radius:100vw}
.m-t0{top:0}
.m-t50{top:50%}
.m-t100{top:100%}
.m-l0{left:0}
.m-l50{left:50%}
.m-l100{left:100%}
.m-b0{bottom:0}
.m-b50{bottom:50%}
.m-b100{bottom:100%}
.m-r0{right:0}
.m-r50{right:50%}
.m-r100{right:100%}
.m-ofcv{object-fit:cover}
.m-ofcn{object-fit:contain}
.m-tx-100{transform:translateX( -100% )}
.m-tx-50{transform:translateX( -50% )}
.m-tx0{transform:translateX( 0% )}
.m-tx50{transform:translateX( 50% )}
.m-tx100{transform:translateX( 100% )}
.m-ty-100{transform:translateY( -100% )}
.m-ty-50{transform:translateY( -50% )}
.m-ty0{transform:translateY( 0% )}
.m-ty50{transform:translateY( 50% )}
.m-ty100{transform:translateY( 100% )}
.m-txy-100{transform:translate( -100%, -100% )}
.m-txy-50{transform:translate( -50%, -50% )}
.m-txy0{transform:translate( 0%, 0% )}
.m-txy50{transform:translate( 50%, 50% )}
.m-txy100{transform:translate( 100%, 100% )}
.m-fill{position: absolute; top: 0; left: 0; width: 100%; height: 100%}
}
@media ( --large ) {
.l-c1{width:8.33333%}
.l-c2{width:16.66667%}
.l-c3{width:25%}
.l-c4{width:33.33333%}
.l-c5{width:41.66667%}
.l-c6{width:50%}
.l-c7{width:58.33333%}
.l-c8{width:66.66667%}
.l-c9{width:75%}
.l-c10{width:83.33333%}
.l-c11{width:91.66667%}
.l-c12{width:100%}
.l-s1{width:100%}
.l-s2{width:50%}
.l-s3{width:33.33333%}
.l-s4{width:25%}
.l-s5{width:20%}
.l-s6{width:16.66667%}
.l-s7{width:14.28571%}
.l-s8{width:12.5%}
.l-s9{width:11.11111%}
.l-s10{width:10%}
.l-s11{width:9.09091%}
.l-s12{width:8.33333%}
.l-co0{margin-left:0}
.l-co1{margin-left:8.33333%}
.l-co2{margin-left:16.66667%}
.l-co3{margin-left:25%}
.l-co4{margin-left:33.33333%}
.l-co5{margin-left:41.66667%}
.l-co6{margin-left:50%}
.l-co7{margin-left:58.33333%}
.l-co8{margin-left:66.66667%}
.l-co9{margin-left:75%}
.l-co10{margin-left:83.33333%}
.l-co11{margin-left:91.66667%}
.l-co12{margin-left:100%}
.l-op0{opacity:0}
.l-op25{opacity:0.25}
.l-op50{opacity:0.5}
.l-op75{opacity:0.75}
.l-op100{opacity:1}
.l-bgsc{background-size:cover}
.l-bgsct{background-size:contain}
.l-bgpc{background-position:center}
.l-bgpt{background-position:top}
.l-bgpr{background-position:right}
.l-bgpb{background-position:bottom}
.l-bgpl{background-position:left}
.l-bgrn{background-repeat:no-repeat}
.l-bgrx{background-repeat:repeat-x}
.l-bgry{background-repeat:repeat-y}
.l-x{display:flex}
.l-xac{align-items:center}
.l-xab{align-items:baseline}
.l-xas{align-items:stretch}
.l-xafs{align-items:flex-start}
.l-xafe{align-items:flex-end}
.l-xdr{flex-direction:row}
.l-xdrr{flex-direction:row-reverse}
.l-xdc{flex-direction:column}
.l-xdcr{flex-direction:column-reverse}
.l-xjc{justify-content:center}
.l-xjb{justify-content:space-between}
.l-xja{justify-content:space-around}
.l-xjs{justify-content:flex-start}
.l-xje{justify-content:flex-end}
.l-xw{flex-wrap:wrap}
.l-xwr{flex-wrap:wrap-reverse}
.l-xwn{flex-wrap:nowrap}
.l-xi{flex:initial}
.l-xx{flex:1}
.l-xa{flex:auto}
.l-xn{flex:none}
.l-xo0{order:0}
.l-xo1{order:1}
.l-xo2{order:2}
.l-xo3{order:3}
.l-xo4{order:4}
.l-xot{order:-1}
.l-xob{order:99}
.l-df{display:flex}
.l-db{display:block}
.l-dib{display:inline-block}
.l-di{display:inline}
.l-dt{display:table}
.l-dtc{display:table-cell}
.l-dtr{display:table-row}
.l-dn{display:none}
.l-fl{float:left}
.l-fr{float:right}
.l-fn{float:none}
.l-cf:after{content:"";display:block;clear:both}
.l-oh{overflow:hidden}
.l-os{overflow:scroll}
.l-ov{overflow:visible}
.l-oxh{overflow-x:hidden}
.l-oxs{overflow-x:scroll}
.l-oxv{overflow-x:visible}
.l-oyh{overflow-y:hidden}
.l-oys{overflow-y:scroll}
.l-oyv{overflow-y:visible}
.l-psa{position:absolute}
.l-psr{position:relative}
.l-psf{position:fixed}
.l-pss{position:static}
.l-t0{top:0}
.l-r0{right:0}
.l-b0{bottom:0}
.l-l0{left:0}
.l-z0{z-index:0}
.l-z1{z-index:1}
.l-z2{z-index:2}
.l-z3{z-index:3}
.l-z4{z-index:4}
.l-w0{width:0}
.l-w100{width:100%}
.l-h0{height:0}
.l-h100{height:100%}
.l-vw50{width:50vw}
.l-vw100{width:100vw}
.l-vwmn50{min-width:50vw}
.l-vwmn100{min-width:100vw}
.l-vwmx50{max-width:50vw}
.l-vwmx100{max-width:100vw}
.l-vh50{height:50vh}
.l-vh100{height:100vh}
.l-vhmn50{min-height:50vh}
.l-vhmn100{min-height:100vh}
.l-vhmx50{max-height:50vh}
.l-vhmx100{max-height:100vh}
.l-ar25:before{padding-top:25%;content:"";display:block}
.l-ar50:before{padding-top:50%;content:"";display:block}
.l-ar75:before{padding-top:75%;content:"";display:block}
.l-ar100:before{padding-top:100%;content:"";display:block}
.l-fs1{font-size:1rem}
.l-fs1-2{font-size:1.2rem}
.l-fs1-6{font-size:1.6rem}
.l-fs2-4{font-size:2.4rem}
.l-fs3-2{font-size:3.2rem}
.l-fs6-4{font-size:6.4rem}
.l-lh1{line-height:1}
.l-lh1-5{line-height:1.5}
.l-fsn{font-style:normal}
.l-fsi{font-style:italic}
.l-fwn{font-weight:normal}
.l-fwb{font-weight:bold}
.l-tal{text-align:left}
.l-tac{text-align:center}
.l-tar{text-align:right}
.l-taj{text-align:justify}
.l-toi{text-overflow:initial}
.l-toc{text-overflow:clip}
.l-toe{text-overflow:ellipsis}
.l-tdu{text-decoration:underline}
.l-tdo{text-decoration:overline}
.l-tdlt{text-decoration:line-through}
.l-tdn{text-decoration:none}
.l-ttu{text-transform:uppercase}
.l-ttl{text-transform:lowercase}
.l-ttc{text-transform:capitalize}
.l-ttn{text-transform:none}
.l-vabl{vertical-align:baseline}
.l-vat{vertical-align:top}
.l-vam{vertical-align:middle}
.l-vab{vertical-align:bottom}
.l-wsn{white-space:normal}
.l-wsnw{white-space:nowrap}
.l-wsp{white-space:pre}
.l-wsi{white-space:inherit}
.l-tc1{columns:1}
.l-tc2{columns:2}
.l-tc3{columns:3}
.l-tc4{columns:4}
.l-curp{cursor:pointer}
.l-curd{cursor:default}
.l-cura{cursor:alias}
.l-curzi{cursor:zoom-in}
.l-curzo{cursor:zoom-out}
.l-usn{user-select:none}
.l-usa{user-select:auto}
.l-ust{user-select:text}
.l-pen{pointer-events:none}
.l-pea{pointer-events:auto}
.l-vh{visibility:hidden}
.l-vv{visibility:visible}
.l-dev{outline:1px solid #912eff}
.l-dev > * {outline:1px solid #5497ff}
.l-dev > * > * {outline:1px solid #51feff}
.l-dev > * > * > * {outline:1px solid #ff0000}
.l-dev > * > * > * * {outline:1px solid #00ff00}.l-m0{margin:calc( 0 * var( --line ) )}
.l-m0-5{margin:calc( 0.5 * var( --line ) )}
.l-m1{margin:calc( 1 * var( --line ) )}
.l-m2{margin:calc( 2 * var( --line ) )}
.l-m3{margin:calc( 3 * var( --line ) )}
.l-m4{margin:calc( 4 * var( --line ) )}
.l-mt0{margin-top:calc( 0 * var( --line ) )}
.l-mt0-5{margin-top:calc( 0.5 * var( --line ) )}
.l-mt1{margin-top:calc( 1 * var( --line ) )}
.l-mt2{margin-top:calc( 2 * var( --line ) )}
.l-mt3{margin-top:calc( 3 * var( --line ) )}
.l-mt4{margin-top:calc( 4 * var( --line ) )}
.l-mb0{margin-bottom:calc( 0 * var( --line ) )}
.l-mb0-5{margin-bottom:calc( 0.5 * var( --line ) )}
.l-mb1{margin-bottom:calc( 1 * var( --line ) )}
.l-mb2{margin-bottom:calc( 2 * var( --line ) )}
.l-mb3{margin-bottom:calc( 3 * var( --line ) )}
.l-mb4{margin-bottom:calc( 4 * var( --line ) )}
.l-ml0{margin-left:calc( 0 * var( --line ) )}
.l-ml0-5{margin-left:calc( 0.5 * var( --line ) )}
.l-ml1{margin-left:calc( 1 * var( --line ) )}
.l-ml2{margin-left:calc( 2 * var( --line ) )}
.l-ml3{margin-left:calc( 3 * var( --line ) )}
.l-ml4{margin-left:calc( 4 * var( --line ) )}
.l-mr0{margin-right:calc( 0 * var( --line ) )}
.l-mr0-5{margin-right:calc( 0.5 * var( --line ) )}
.l-mr1{margin-right:calc( 1 * var( --line ) )}
.l-mr2{margin-right:calc( 2 * var( --line ) )}
.l-mr3{margin-right:calc( 3 * var( --line ) )}
.l-mr4{margin-right:calc( 4 * var( --line ) )}
.l-mx0{margin-left:calc( 0 * var( --line ) );margin-right:calc( 0 * var( --line ) )}
.l-mx0-5{margin-left:calc( 0.5 * var( --line ) );margin-right:calc( 0.5 * var( --line ) )}
.l-mx1{margin-left:calc( 1 * var( --line ) );margin-right:calc( 1 * var( --line ) )}
.l-mx2{margin-left:calc( 2 * var( --line ) );margin-right:calc( 2 * var( --line ) )}
.l-mx3{margin-left:calc( 3 * var( --line ) );margin-right:calc( 3 * var( --line ) )}
.l-mx4{margin-left:calc( 4 * var( --line ) );margin-right:calc( 4 * var( --line ) )}
.l-my0{margin-top:calc( 0 * var( --line ) );margin-bottom:calc( 0 * var( --line ) )}
.l-my0-5{margin-top:calc( 0.5 * var( --line ) );margin-bottom:calc( 0.5 * var( --line ) )}
.l-my1{margin-top:calc( 1 * var( --line ) );margin-bottom:calc( 1 * var( --line ) )}
.l-my2{margin-top:calc( 2 * var( --line ) );margin-bottom:calc( 2 * var( --line ) )}
.l-my3{margin-top:calc( 3 * var( --line ) );margin-bottom:calc( 3 * var( --line ) )}
.l-my4{margin-top:calc( 4 * var( --line ) );margin-bottom:calc( 4 * var( --line ) )}
.l-p0{padding:calc( 0 * var( --line ) )}
.l-p0-5{padding:calc( 0.5 * var( --line ) )}
.l-p1{padding:calc( 1 * var( --line ) )}
.l-p2{padding:calc( 2 * var( --line ) )}
.l-p3{padding:calc( 3 * var( --line ) )}
.l-p4{padding:calc( 4 * var( --line ) )}
.l-pt0{padding-top:calc( 0 * var( --line ) )}
.l-pt0-5{padding-top:calc( 0.5 * var( --line ) )}
.l-pt1{padding-top:calc( 1 * var( --line ) )}
.l-pt2{padding-top:calc( 2 * var( --line ) )}
.l-pt3{padding-top:calc( 3 * var( --line ) )}
.l-pt4{padding-top:calc( 4 * var( --line ) )}
.l-pb0{padding-bottom:calc( 0 * var( --line ) )}
.l-pb0-5{padding-bottom:calc( 0.5 * var( --line ) )}
.l-pb1{padding-bottom:calc( 1 * var( --line ) )}
.l-pb2{padding-bottom:calc( 2 * var( --line ) )}
.l-pb3{padding-bottom:calc( 3 * var( --line ) )}
.l-pb4{padding-bottom:calc( 4 * var( --line ) )}
.l-pl0{padding-left:calc( 0 * var( --line ) )}
.l-pl0-5{padding-left:calc( 0.5 * var( --line ) )}
.l-pl1{padding-left:calc( 1 * var( --line ) )}
.l-pl2{padding-left:calc( 2 * var( --line ) )}
.l-pl3{padding-left:calc( 3 * var( --line ) )}
.l-pl4{padding-left:calc( 4 * var( --line ) )}
.l-pr0{padding-right:calc( 0 * var( --line ) )}
.l-pr0-5{padding-right:calc( 0.5 * var( --line ) )}
.l-pr1{padding-right:calc( 1 * var( --line ) )}
.l-pr2{padding-right:calc( 2 * var( --line ) )}
.l-pr3{padding-right:calc( 3 * var( --line ) )}
.l-pr4{padding-right:calc( 4 * var( --line ) )}
.l-px0{padding-left:calc( 0 * var( --line ) );padding-right:calc( 0 * var( --line ) )}
.l-px0-5{padding-left:calc( 0.5 * var( --line ) );padding-right:calc( 0.5 * var( --line ) )}
.l-px1{padding-left:calc( 1 * var( --line ) );padding-right:calc( 1 * var( --line ) )}
.l-px2{padding-left:calc( 2 * var( --line ) );padding-right:calc( 2 * var( --line ) )}
.l-px3{padding-left:calc( 3 * var( --line ) );padding-right:calc( 3 * var( --line ) )}
.l-px4{padding-left:calc( 4 * var( --line ) );padding-right:calc( 4 * var( --line ) )}
.l-py0{padding-top:calc( 0 * var( --line ) );padding-bottom:calc( 0 * var( --line ) )}
.l-py0-5{padding-top:calc( 0.5 * var( --line ) );padding-bottom:calc( 0.5 * var( --line ) )}
.l-py1{padding-top:calc( 1 * var( --line ) );padding-bottom:calc( 1 * var( --line ) )}
.l-py2{padding-top:calc( 2 * var( --line ) );padding-bottom:calc( 2 * var( --line ) )}
.l-py3{padding-top:calc( 3 * var( --line ) );padding-bottom:calc( 3 * var( --line ) )}
.l-py4{padding-top:calc( 4 * var( --line ) );padding-bottom:calc( 4 * var( --line ) )}
.l-br50{border-radius:50%}
.l-brmax{border-radius:100vw}
.l-t0{top:0}
.l-t50{top:50%}
.l-t100{top:100%}
.l-l0{left:0}
.l-l50{left:50%}
.l-l100{left:100%}
.l-b0{bottom:0}
.l-b50{bottom:50%}
.l-b100{bottom:100%}
.l-r0{right:0}
.l-r50{right:50%}
.l-r100{right:100%}
.l-ofcv{object-fit:cover}
.l-ofcn{object-fit:contain}
.l-tx-100{transform:translateX( -100% )}
.l-tx-50{transform:translateX( -50% )}
.l-tx0{transform:translateX( 0% )}
.l-tx50{transform:translateX( 50% )}
.l-tx100{transform:translateX( 100% )}
.l-ty-100{transform:translateY( -100% )}
.l-ty-50{transform:translateY( -50% )}
.l-ty0{transform:translateY( 0% )}
.l-ty50{transform:translateY( 50% )}
.l-ty100{transform:translateY( 100% )}
.l-txy-100{transform:translate( -100%, -100% )}
.l-txy-50{transform:translate( -50%, -50% )}
.l-txy0{transform:translate( 0%, 0% )}
.l-txy50{transform:translate( 50%, 50% )}
.l-txy100{transform:translate( 100%, 100% )}
.l-fill{position: absolute; top: 0; left: 0; width: 100%; height: 100%}
}
@media ( --xlarge ) {
.xl-c1{width:8.33333%}
.xl-c2{width:16.66667%}
.xl-c3{width:25%}
.xl-c4{width:33.33333%}
.xl-c5{width:41.66667%}
.xl-c6{width:50%}
.xl-c7{width:58.33333%}
.xl-c8{width:66.66667%}
.xl-c9{width:75%}
.xl-c10{width:83.33333%}
.xl-c11{width:91.66667%}
.xl-c12{width:100%}
.xl-s1{width:100%}
.xl-s2{width:50%}
.xl-s3{width:33.33333%}
.xl-s4{width:25%}
.xl-s5{width:20%}
.xl-s6{width:16.66667%}
.xl-s7{width:14.28571%}
.xl-s8{width:12.5%}
.xl-s9{width:11.11111%}
.xl-s10{width:10%}
.xl-s11{width:9.09091%}
.xl-s12{width:8.33333%}
.xl-co0{margin-left:0}
.xl-co1{margin-left:8.33333%}
.xl-co2{margin-left:16.66667%}
.xl-co3{margin-left:25%}
.xl-co4{margin-left:33.33333%}
.xl-co5{margin-left:41.66667%}
.xl-co6{margin-left:50%}
.xl-co7{margin-left:58.33333%}
.xl-co8{margin-left:66.66667%}
.xl-co9{margin-left:75%}
.xl-co10{margin-left:83.33333%}
.xl-co11{margin-left:91.66667%}
.xl-co12{margin-left:100%}
.xl-op0{opacity:0}
.xl-op25{opacity:0.25}
.xl-op50{opacity:0.5}
.xl-op75{opacity:0.75}
.xl-op100{opacity:1}
.xl-bgsc{background-size:cover}
.xl-bgsct{background-size:contain}
.xl-bgpc{background-position:center}
.xl-bgpt{background-position:top}
.xl-bgpr{background-position:right}
.xl-bgpb{background-position:bottom}
.xl-bgpl{background-position:left}
.xl-bgrn{background-repeat:no-repeat}
.xl-bgrx{background-repeat:repeat-x}
.xl-bgry{background-repeat:repeat-y}
.xl-x{display:flex}
.xl-xac{align-items:center}
.xl-xab{align-items:baseline}
.xl-xas{align-items:stretch}
.xl-xafs{align-items:flex-start}
.xl-xafe{align-items:flex-end}
.xl-xdr{flex-direction:row}
.xl-xdrr{flex-direction:row-reverse}
.xl-xdc{flex-direction:column}
.xl-xdcr{flex-direction:column-reverse}
.xl-xjc{justify-content:center}
.xl-xjb{justify-content:space-between}
.xl-xja{justify-content:space-around}
.xl-xjs{justify-content:flex-start}
.xl-xje{justify-content:flex-end}
.xl-xw{flex-wrap:wrap}
.xl-xwr{flex-wrap:wrap-reverse}
.xl-xwn{flex-wrap:nowrap}
.xl-xi{flex:initial}
.xl-xx{flex:1}
.xl-xa{flex:auto}
.xl-xn{flex:none}
.xl-xo0{order:0}
.xl-xo1{order:1}
.xl-xo2{order:2}
.xl-xo3{order:3}
.xl-xo4{order:4}
.xl-xot{order:-1}
.xl-xob{order:99}
.xl-df{display:flex}
.xl-db{display:block}
.xl-dib{display:inline-block}
.xl-di{display:inline}
.xl-dt{display:table}
.xl-dtc{display:table-cell}
.xl-dtr{display:table-row}
.xl-dn{display:none}
.xl-fl{float:left}
.xl-fr{float:right}
.xl-fn{float:none}
.xl-cf:after{content:"";display:block;clear:both}
.xl-oh{overflow:hidden}
.xl-os{overflow:scroll}
.xl-ov{overflow:visible}
.xl-oxh{overflow-x:hidden}
.xl-oxs{overflow-x:scroll}
.xl-oxv{overflow-x:visible}
.xl-oyh{overflow-y:hidden}
.xl-oys{overflow-y:scroll}
.xl-oyv{overflow-y:visible}
.xl-psa{position:absolute}
.xl-psr{position:relative}
.xl-psf{position:fixed}
.xl-pss{position:static}
.xl-t0{top:0}
.xl-r0{right:0}
.xl-b0{bottom:0}
.xl-l0{left:0}
.xl-z0{z-index:0}
.xl-z1{z-index:1}
.xl-z2{z-index:2}
.xl-z3{z-index:3}
.xl-z4{z-index:4}
.xl-w0{width:0}
.xl-w100{width:100%}
.xl-h0{height:0}
.xl-h100{height:100%}
.xl-vw50{width:50vw}
.xl-vw100{width:100vw}
.xl-vwmn50{min-width:50vw}
.xl-vwmn100{min-width:100vw}
.xl-vwmx50{max-width:50vw}
.xl-vwmx100{max-width:100vw}
.xl-vh50{height:50vh}
.xl-vh100{height:100vh}
.xl-vhmn50{min-height:50vh}
.xl-vhmn100{min-height:100vh}
.xl-vhmx50{max-height:50vh}
.xl-vhmx100{max-height:100vh}
.xl-ar25:before{padding-top:25%;content:"";display:block}
.xl-ar50:before{padding-top:50%;content:"";display:block}
.xl-ar75:before{padding-top:75%;content:"";display:block}
.xl-ar100:before{padding-top:100%;content:"";display:block}
.xl-fs1{font-size:1rem}
.xl-fs1-2{font-size:1.2rem}
.xl-fs1-6{font-size:1.6rem}
.xl-fs2-4{font-size:2.4rem}
.xl-fs3-2{font-size:3.2rem}
.xl-fs6-4{font-size:6.4rem}
.xl-lh1{line-height:1}
.xl-lh1-5{line-height:1.5}
.xl-fsn{font-style:normal}
.xl-fsi{font-style:italic}
.xl-fwn{font-weight:normal}
.xl-fwb{font-weight:bold}
.xl-tal{text-align:left}
.xl-tac{text-align:center}
.xl-tar{text-align:right}
.xl-taj{text-align:justify}
.xl-toi{text-overflow:initial}
.xl-toc{text-overflow:clip}
.xl-toe{text-overflow:ellipsis}
.xl-tdu{text-decoration:underline}
.xl-tdo{text-decoration:overline}
.xl-tdlt{text-decoration:line-through}
.xl-tdn{text-decoration:none}
.xl-ttu{text-transform:uppercase}
.xl-ttl{text-transform:lowercase}
.xl-ttc{text-transform:capitalize}
.xl-ttn{text-transform:none}
.xl-vabl{vertical-align:baseline}
.xl-vat{vertical-align:top}
.xl-vam{vertical-align:middle}
.xl-vab{vertical-align:bottom}
.xl-wsn{white-space:normal}
.xl-wsnw{white-space:nowrap}
.xl-wsp{white-space:pre}
.xl-wsi{white-space:inherit}
.xl-tc1{columns:1}
.xl-tc2{columns:2}
.xl-tc3{columns:3}
.xl-tc4{columns:4}
.xl-curp{cursor:pointer}
.xl-curd{cursor:default}
.xl-cura{cursor:alias}
.xl-curzi{cursor:zoom-in}
.xl-curzo{cursor:zoom-out}
.xl-usn{user-select:none}
.xl-usa{user-select:auto}
.xl-ust{user-select:text}
.xl-pen{pointer-events:none}
.xl-pea{pointer-events:auto}
.xl-vh{visibility:hidden}
.xl-vv{visibility:visible}
.xl-dev{outline:1px solid #912eff}
.xl-dev > * {outline:1px solid #5497ff}
.xl-dev > * > * {outline:1px solid #51feff}
.xl-dev > * > * > * {outline:1px solid #ff0000}
.xl-dev > * > * > * * {outline:1px solid #00ff00}.xl-m0{margin:calc( 0 * var( --line ) )}
.xl-m0-5{margin:calc( 0.5 * var( --line ) )}
.xl-m1{margin:calc( 1 * var( --line ) )}
.xl-m2{margin:calc( 2 * var( --line ) )}
.xl-m3{margin:calc( 3 * var( --line ) )}
.xl-m4{margin:calc( 4 * var( --line ) )}
.xl-mt0{margin-top:calc( 0 * var( --line ) )}
.xl-mt0-5{margin-top:calc( 0.5 * var( --line ) )}
.xl-mt1{margin-top:calc( 1 * var( --line ) )}
.xl-mt2{margin-top:calc( 2 * var( --line ) )}
.xl-mt3{margin-top:calc( 3 * var( --line ) )}
.xl-mt4{margin-top:calc( 4 * var( --line ) )}
.xl-mb0{margin-bottom:calc( 0 * var( --line ) )}
.xl-mb0-5{margin-bottom:calc( 0.5 * var( --line ) )}
.xl-mb1{margin-bottom:calc( 1 * var( --line ) )}
.xl-mb2{margin-bottom:calc( 2 * var( --line ) )}
.xl-mb3{margin-bottom:calc( 3 * var( --line ) )}
.xl-mb4{margin-bottom:calc( 4 * var( --line ) )}
.xl-ml0{margin-left:calc( 0 * var( --line ) )}
.xl-ml0-5{margin-left:calc( 0.5 * var( --line ) )}
.xl-ml1{margin-left:calc( 1 * var( --line ) )}
.xl-ml2{margin-left:calc( 2 * var( --line ) )}
.xl-ml3{margin-left:calc( 3 * var( --line ) )}
.xl-ml4{margin-left:calc( 4 * var( --line ) )}
.xl-mr0{margin-right:calc( 0 * var( --line ) )}
.xl-mr0-5{margin-right:calc( 0.5 * var( --line ) )}
.xl-mr1{margin-right:calc( 1 * var( --line ) )}
.xl-mr2{margin-right:calc( 2 * var( --line ) )}
.xl-mr3{margin-right:calc( 3 * var( --line ) )}
.xl-mr4{margin-right:calc( 4 * var( --line ) )}
.xl-mx0{margin-left:calc( 0 * var( --line ) );margin-right:calc( 0 * var( --line ) )}
.xl-mx0-5{margin-left:calc( 0.5 * var( --line ) );margin-right:calc( 0.5 * var( --line ) )}
.xl-mx1{margin-left:calc( 1 * var( --line ) );margin-right:calc( 1 * var( --line ) )}
.xl-mx2{margin-left:calc( 2 * var( --line ) );margin-right:calc( 2 * var( --line ) )}
.xl-mx3{margin-left:calc( 3 * var( --line ) );margin-right:calc( 3 * var( --line ) )}
.xl-mx4{margin-left:calc( 4 * var( --line ) );margin-right:calc( 4 * var( --line ) )}
.xl-my0{margin-top:calc( 0 * var( --line ) );margin-bottom:calc( 0 * var( --line ) )}
.xl-my0-5{margin-top:calc( 0.5 * var( --line ) );margin-bottom:calc( 0.5 * var( --line ) )}
.xl-my1{margin-top:calc( 1 * var( --line ) );margin-bottom:calc( 1 * var( --line ) )}
.xl-my2{margin-top:calc( 2 * var( --line ) );margin-bottom:calc( 2 * var( --line ) )}
.xl-my3{margin-top:calc( 3 * var( --line ) );margin-bottom:calc( 3 * var( --line ) )}
.xl-my4{margin-top:calc( 4 * var( --line ) );margin-bottom:calc( 4 * var( --line ) )}
.xl-p0{padding:calc( 0 * var( --line ) )}
.xl-p0-5{padding:calc( 0.5 * var( --line ) )}
.xl-p1{padding:calc( 1 * var( --line ) )}
.xl-p2{padding:calc( 2 * var( --line ) )}
.xl-p3{padding:calc( 3 * var( --line ) )}
.xl-p4{padding:calc( 4 * var( --line ) )}
.xl-pt0{padding-top:calc( 0 * var( --line ) )}
.xl-pt0-5{padding-top:calc( 0.5 * var( --line ) )}
.xl-pt1{padding-top:calc( 1 * var( --line ) )}
.xl-pt2{padding-top:calc( 2 * var( --line ) )}
.xl-pt3{padding-top:calc( 3 * var( --line ) )}
.xl-pt4{padding-top:calc( 4 * var( --line ) )}
.xl-pb0{padding-bottom:calc( 0 * var( --line ) )}
.xl-pb0-5{padding-bottom:calc( 0.5 * var( --line ) )}
.xl-pb1{padding-bottom:calc( 1 * var( --line ) )}
.xl-pb2{padding-bottom:calc( 2 * var( --line ) )}
.xl-pb3{padding-bottom:calc( 3 * var( --line ) )}
.xl-pb4{padding-bottom:calc( 4 * var( --line ) )}
.xl-pl0{padding-left:calc( 0 * var( --line ) )}
.xl-pl0-5{padding-left:calc( 0.5 * var( --line ) )}
.xl-pl1{padding-left:calc( 1 * var( --line ) )}
.xl-pl2{padding-left:calc( 2 * var( --line ) )}
.xl-pl3{padding-left:calc( 3 * var( --line ) )}
.xl-pl4{padding-left:calc( 4 * var( --line ) )}
.xl-pr0{padding-right:calc( 0 * var( --line ) )}
.xl-pr0-5{padding-right:calc( 0.5 * var( --line ) )}
.xl-pr1{padding-right:calc( 1 * var( --line ) )}
.xl-pr2{padding-right:calc( 2 * var( --line ) )}
.xl-pr3{padding-right:calc( 3 * var( --line ) )}
.xl-pr4{padding-right:calc( 4 * var( --line ) )}
.xl-px0{padding-left:calc( 0 * var( --line ) );padding-right:calc( 0 * var( --line ) )}
.xl-px0-5{padding-left:calc( 0.5 * var( --line ) );padding-right:calc( 0.5 * var( --line ) )}
.xl-px1{padding-left:calc( 1 * var( --line ) );padding-right:calc( 1 * var( --line ) )}
.xl-px2{padding-left:calc( 2 * var( --line ) );padding-right:calc( 2 * var( --line ) )}
.xl-px3{padding-left:calc( 3 * var( --line ) );padding-right:calc( 3 * var( --line ) )}
.xl-px4{padding-left:calc( 4 * var( --line ) );padding-right:calc( 4 * var( --line ) )}
.xl-py0{padding-top:calc( 0 * var( --line ) );padding-bottom:calc( 0 * var( --line ) )}
.xl-py0-5{padding-top:calc( 0.5 * var( --line ) );padding-bottom:calc( 0.5 * var( --line ) )}
.xl-py1{padding-top:calc( 1 * var( --line ) );padding-bottom:calc( 1 * var( --line ) )}
.xl-py2{padding-top:calc( 2 * var( --line ) );padding-bottom:calc( 2 * var( --line ) )}
.xl-py3{padding-top:calc( 3 * var( --line ) );padding-bottom:calc( 3 * var( --line ) )}
.xl-py4{padding-top:calc( 4 * var( --line ) );padding-bottom:calc( 4 * var( --line ) )}
.xl-br50{border-radius:50%}
.xl-brmax{border-radius:100vw}
.xl-t0{top:0}
.xl-t50{top:50%}
.xl-t100{top:100%}
.xl-l0{left:0}
.xl-l50{left:50%}
.xl-l100{left:100%}
.xl-b0{bottom:0}
.xl-b50{bottom:50%}
.xl-b100{bottom:100%}
.xl-r0{right:0}
.xl-r50{right:50%}
.xl-r100{right:100%}
.xl-ofcv{object-fit:cover}
.xl-ofcn{object-fit:contain}
.xl-tx-100{transform:translateX( -100% )}
.xl-tx-50{transform:translateX( -50% )}
.xl-tx0{transform:translateX( 0% )}
.xl-tx50{transform:translateX( 50% )}
.xl-tx100{transform:translateX( 100% )}
.xl-ty-100{transform:translateY( -100% )}
.xl-ty-50{transform:translateY( -50% )}
.xl-ty0{transform:translateY( 0% )}
.xl-ty50{transform:translateY( 50% )}
.xl-ty100{transform:translateY( 100% )}
.xl-txy-100{transform:translate( -100%, -100% )}
.xl-txy-50{transform:translate( -50%, -50% )}
.xl-txy0{transform:translate( 0%, 0% )}
.xl-txy50{transform:translate( 50%, 50% )}
.xl-txy100{transform:translate( 100%, 100% )}
.xl-fill{position: absolute; top: 0; left: 0; width: 100%; height: 100%}
}