:root {
  --radius: 20px; }
  @media (min-width: 768px) {
    :root {
      --radius: 40px; } }

* {
  margin: 0;
  padding: 0; }

html {
  font-family: sans-serif;
  background: #DFDFDF; }

.thumbnail {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: calc( var( --radius ) * .7 * 2);
  height: calc( var( --radius ) * .7 * 2);
  object-fit: contain;
  z-index: 100;
  contain: layout;
  will-change: transform;
  cursor: pointer;
  transition: width .1s, height .1s; }
  .thumbnail:hover {
    width: calc( var( --radius ) * 2);
    height: calc( var( --radius ) * 2);
    z-index: 20; }

.color {
  width: 100%; }

main {
  height: 100%; }

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; }

.legend {
  list-style: none;
  display: block;
  position: fixed;
  left: 3em;
  bottom: 2em; }
  .legend li {
    border: 1px solid var(--color);
    color: transparent;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    padding: .5em 1.5em;
    text-align: center;
    display: block;
    width: auto;
    cursor: pointer; }
    .legend li.selected {
      color: var(--color); }

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.rafMeter {
  position: fixed;
  z-index: 100;
  background: white; }

.year-number {
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0; }

nav {
  position: fixed;
  z-index: 2000; }
