@import '~/styles/breakpoints';

.project {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    &--current {
        overflow-y: scroll;
    }
    &__header {
        text-align: center;
        z-index: 50;
        padding-bottom: line();
        padding-top: line();
        background: linear-gradient( to bottom, var( --background ) calc( 100% - var( --line ) ), transparent 100% );
        @include medium {
            padding-top: 0;
            position: sticky;
            top: 0;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        img, .vimeo {
            width: 100%;
        }
        p {
            padding-bottom: line( 2 );
        }
        @include medium {
            // padding-top: line();
            padding-bottom: 5em;
        }
    }
    &__image {
        width: 100%;
        padding-bottom: line( 2 );
        &--portrait {
            // max-width: 40em;
        }
    }
    &__image--portrait, &__body, .credits {
        width: 100%;
        max-width: 40em;
    }
    &__image--landscape {
        max-width: 75vw;
    }
}

.credits {
    text-align: center;
    list-style: none;
    padding-bottom: line();
}

.credit {
    padding-bottom: line();
    &__role {
        font-weight: bold;
    }
}