@import '~/styles/utils';

.project {
    // display: flex;
    // flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    @include medium {
        padding-top: var( --project-header-height );
    }
    &--current {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    &__header {
        z-index: 50;
        padding-bottom: line( .5 );
        padding-top: line( .5 );
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0;
        @include medium {
            display: none;
        }
        h1 {
            border: 1px solid black;
            padding: .1rem .6rem;
            border-radius: 100vw;
            background: var( --background );
            text-align: center;
            display: flex;
            align-items: center;
            &:after {
                content: '×';
                display: block;
                padding-left: .25rem;
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        img, .vimeo {
            width: 100%;
        }
        p {
            padding-bottom: line( 2 );
        }
        @include medium {
            // padding-top: line();
            padding-bottom: 5em;
        }
        & > * {
            // transition: transform .5s;
            // transform: none;
            transform: translateX( calc( ( var( --project-width ) * .5 - 50% ) * var( --project-content-offset ) ) );
            // .project--off-left & {
                
            // }
            // .project--off-right & {
            //     transform: translateX( calc( var( --project-width ) * -.5 + 50% ) );
            // }
        }
        a {
            text-decoration: underline;
            text-decoration-color: blue;
        }
    }
    &__image {
        width: 100%;
        padding-bottom: line( 2 );
        &--portrait {
            // max-width: 40em;
            max-height: 100vh;
        }
        &--headshot {
            width: 100%;
            max-width: 20em;
        }
    }
    &__image--portrait, &__body, .credits {
        width: 100%;
        max-width: 40em;
    }
    &__image--landscape {
        max-width: 80em;
        max-height: 100vh;
    }
    &__image--video {
        max-width: 80em;
    }
}

.credits {
    text-align: center;
    list-style: none;
    padding-bottom: line();
}

.credit {
    padding-bottom: line();
    &__role {
        font-weight: bold;
    }
}

.cv {
    &__row {
        display: flex;
    }
    &__dates {
        width: 50%;
        // text-transform: uppercase;
    }
    &__job {
        width: 50%;
    }
    padding-bottom: line(2);
}