@import '~/styles/utils';

.project {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    &--current {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    &__header {
        text-align: center;
        z-index: 50;
        padding-bottom: line( .5 );
        padding-top: line();
        background: linear-gradient( to bottom, var( --background ) calc( 100% - var( --line ) * .5 ), var( --background-transparent ) 100% );
        @include medium {
            padding-top: 0;
            position: sticky;
            top: 0;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        img, .vimeo {
            width: 100%;
        }
        p {
            padding-bottom: line( 2 );
        }
        @include medium {
            // padding-top: line();
            padding-bottom: 5em;
        }
        & > * {
            // transition: transform .5s;
            // transform: none;
            transform: translateX( calc( ( var( --project-width ) * .5 - 50% ) * var( --project-content-offset ) ) );
            // .project--off-left & {
                
            // }
            // .project--off-right & {
            //     transform: translateX( calc( var( --project-width ) * -.5 + 50% ) );
            // }
        }
    }
    &__image {
        width: 100%;
        padding-bottom: line( 2 );
        &--portrait {
            // max-width: 40em;
        }
        &--headshot {
            width: 100%;
            max-width: 20em;
        }
    }
    &__image--portrait, &__body, .credits {
        width: 100%;
        max-width: 40em;
    }
    &__image--landscape {
        max-width: 80em;
    }
    a {
        text-decoration: underline;
        text-decoration-color: blue;
    }
}

.credits {
    text-align: center;
    list-style: none;
    padding-bottom: line();
}

.credit {
    padding-bottom: line();
    &__role {
        font-weight: bold;
    }
}

.cv {
    &__row {
        display: flex;
    }
    &__dates {
        width: 50%;
        // text-transform: uppercase;
    }
    &__job {
        width: 50%;
    }
    padding-bottom: line(2);
}