:root {
    --radius: 20px;
    @media ( min-width: 768px ) {
        --radius: 40px;
    }
    
}


* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    background: #DFDFDF;
}

.thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    contain: layout;
    will-change: transform;
    cursor: pointer;
    img {
        position: absolute;
        top: 15%;
        left: 15%;
        width: 70%;
        height: 70%;
        object-fit: contain;
    }
    &__new {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        color: red;
        @keyframes rainbow {
            0% { color: #FF0000 }
            14% { color: #FF9838 }
            28% { color: #BDFF00 }
            42% { color: #FC49CA }
            57% { color: #00C2FF }
            71% { color: #FCFF80 }
            85% { color: #AD00FF }
        }
        animation: rainbow 1s linear infinite;
    }
    &__ring {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        
        // &:nth-child( 1 ) {
        //     margin-left: -3px;
        //     margin-top: 2px;
        // }
    }
}
.color {
    width: 100%;
    // display: none;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.legend {
    list-style: none;
    display: block;
    position: fixed;
    right: 2em;
    bottom: 1.5em;
    li {
        border: 1px solid var(--color);
        color: transparent;
        border-width: 1px;
        border-style: solid;
        border-radius: 50%;
        padding: .75em 1.75em;
        text-align: center;
        display: block;
        width: auto;
        cursor: pointer;
        text-transform: uppercase;
        &.selected {
            color: var(--color);
        }
    }
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rafMeter {
    position: fixed;
    z-index: 100;
    background: white;
}

.year-number {
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
}

nav {
    position: fixed;
    z-index: 2000;
}

.page {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}