@custom-media --medium ( min-width: 768px );

* {
    margin: 0;
    padding: 0;
    position: relative;
    font: inherit;
}

html {
    font-family: sans-serif;
    background: #DFDFDF;
    font-size: 14px;
}

.thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    contain: layout;
    will-change: transform;
    cursor: pointer;
    // border-radius: 50%;
    // border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    // img {
    //     position: absolute;
    //     top: 15%;
    //     left: 15%;
    //     width: 70%;
    //     height: 70%;
    //     object-fit: contain;
    // }
    &__ring {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
    }
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.legend {
    list-style: none;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2em 1em 0 1em;
    background: linear-gradient( to bottom, transparent 0, #DFDFDF 1.5em );
    display: flex;
    flex-wrap: wrap;
    z-index: 200;
    @media ( min-width: 768px ) {
        bottom: auto;
        top: 50%;
        background: none;
        transform: translateY( -50% );
        flex-direction: column;
        padding: 2em;
        width: auto;
    }
    li {
        color: transparent;
        display: flex;
        cursor: pointer;
        align-items: center;
        padding-right: 1em;
        padding-bottom: 1em;
        &:before {
            content: '';
            width: 1.5em;
            height: 1.5em;
            border: 1px solid var( --color );
            border-radius: 50%;
            margin-right: .5em;
        }
        &.selected {
            color: black;
        }
    }
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: filter .5s;
    &--inactive {
        filter: blur(20px);
    }
}

.work {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    --project-width: 100vw;
    --project-peek: 0;
    @media ( min-width: 1000px ) {
        --project-width: 800px;
        --project-peek: 400px;
    }
    --project-offset: calc(
        ( ( 100vw - var( --project-width ) ) / 2 ) -
        ( var( --project-peek ) - var( --project-width ) )
    );
    &__button {
        position: absolute;
        z-index: 100;
        top: 2rem;
        transform: translateX(-50%);
        &--exit {
            left: 50%;
        }
        &--prev {
            left: 25%;
        }
        &--next {
            left: 75%;
        }
    }
    &__project {
        width: var(--project-width);
        height: 100%;
        position: absolute;
        left: calc( ( 100vw - var( --project-width ) ) / 2 );
        overflow-x: hidden;
        overflow-y: scroll;
    }
    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

.project {
    padding: 4rem 1rem;
    img {
        width: 100%;
    }
}

.fill, .cover, .contain {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.contain {
    object-fit: contain;
}

.cover {
    object-fit: cover;
}